{% load static %}
<style>
     /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>


<div class="container">
  <form action="action_page.php">
    <h2>Get in Touch {{ firstname }}</h2>

    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="country">Country</label>
    <select id="country" name="country">
      <option value="australia">Australia</option>
      <option value="canada">Canada</option>
      <option value="usa">USA</option>
    </select>

    <label for="subject">Subject</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <button>Submit</button>

  </form>
</div>



<!--<div class="col-12 col-md-8">-->
<!--  <div class="contact-form">-->
<!--    <div class="section-headiing">-->
<!--      <h2> Get in touch - {{ firstname }}</h2>-->
<!--      <div class="line"></div>-->
<!--    </div>-->
<!--    <form action="{% url 'contact' %}" method="post">-->
<!--      {% csrf_token %}-->
<!--      <div class="row">-->
<!--        <div class="col-lg-6">-->
<!--          <input type="text" name="first-name"-->
<!--                 class="form-control mb-30" placeholder="Your first name">-->
<!--        </div>-->
<!--        <div class="col-lg-6">-->
<!--          <input type="email" name="message-email"-->
<!--                 class="form-control mb-30" placeholder="Your email">-->
<!--        </div>-->
<!--        <div class="col-12">-->
<!--          <textarea name="message" class="form-control mb-30"-->
<!--                    placeholder="Your Message"></textarea>-->
<!--        </div>-->
<!--        <div class="col-12">-->
<!--          <button type="submit" class="btn dento-btn">Send Message</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </form>-->
<!--  </div>-->
<!--</div>-->